{% extends 'SignIn_SignUp/Main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    {% include 'navbar.html' %}


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div >
        <ion-icon name="log-in-outline" size="large"></ion-icon> <br>
      <h2 style="   margin: 0px 8px 10px 8px; color: #0d0d0d">Sign In</h2>
    </div>

    <!-- Login Form -->
    <form method="post">

    {% csrf_token %}
                         {% if signupForm.errors %}
 <div style="color: red;">
        <ul>
            {% for field in signupForm %}
                {% if field.errors %}
                    <div class="alert alert-danger" class="fadeIn first" role="alert">
                   {{ field.errors|striptags }}
                </div>

                {% endif %}
            {% endfor %}
        </ul>
</div>
    {% endif %}

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" class="fadeIn first" role="alert">
                  {{ message }}
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" class="fadeIn first" role="alert">
                  {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
      {% render_field signinForm.email class+="fadeIn second"%}
      {% render_field  signinForm.password class+="fadeIn third" %}

      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>

  </div>
</div>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

{% endblock content %}